.offer-text-block{
    background: linear-gradient(180deg, #000000 0%, #393939 100%);
}
.offer-text-block__container{
   
}
.offer-text-block__content{
   display: flex;
}
@media (max-width: 760px){
    .offer-text-block__content{
    
        flex-direction: column;
        
     }
}